<div class="app-container">
  <h2 class="app-title">AWS-Powered Speech Synthesis</h2>
  <div class="input-container">
    <textarea #userInput class="input-text" cols="60" rows="5" placeholder="Type your text here"></textarea>
  </div>
  <div class="select-container">
    <!-- Use template reference variables to get the selected value -->
    <select #selectedVoice class="select-voice">
      <option *ngFor="let voice of voices">{{voice}}</option>
    </select>
  </div>
  <div class="button-container">
    <!-- Use a click event to call the speakNow function with the values -->
    <button class="speak-button" (click)="speakNow(userInput.value, selectedVoice.value)">Speak Now</button>
  </div>
</div>
