<div style="margin: auto; padding: 10px; text-align: center;">
  <h2>My Talking App</h2>
  <div>
    <textarea #userInput style="font-size: 15px; padding: 10px;" cols="60" rows="10"></textarea>
  </div>
  <div>
    <!-- Use template reference variables to get the selected value -->
    <select #selectedVoice style="font-size: 15px;">
      <option *ngFor="let voice of voices">{{voice}}</option>
    </select>
  </div>
  <div style="margin-top: 10px">
    <!-- Use a click event to call the speakNow function with the values -->
    <button style="font-size: 15px" (click)="speakNow(userInput.value, selectedVoice.value)">Speak Now</button>
  </div>
</div>
